<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Ejemplo 5</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="ejemplo4.html">Back</a>
        <a href="index.html">Home</a>
        <a href="ejemplo6.html">Next</a>
        <h1>Ejemplo de formateo de texto</h1>
        <p>Lorem ipsum dolor <span style="font-family: Comic Sans MS; font-size: 16px; background-color:  blue; color: white">sit amet consectetur adipiscing elit, euismod nulla sollicitudin nam dictumst varius mi blandit, nascetur</span> vulputate porttitor facilisi sapien quisque. Condimentum etiam mauris purus nisl suspendisse pellentesque tellus et sagittis velit ridiculus, ligula gravida fusce libero class morbi penatibus dictumst bibendum. Penatibus dis nostra etiam vulputate sollicitudin torquent ornare proin magnis sed lectus, ante velit tortor blandit suscipit sodales aliquet fringilla accumsan justo.</p>
        <p>La formula del agua es: H<sub>2</sub>0</p>
        <p>La primera formula notable es: (a+b)<sup>2</sup> = a<sup>2</sup>+ 2ab + b<sup>2</sup></p>
            
    </body>
</html>
