<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>      
        
        <a href="ejemplo2.html">Next</a>
    </body>
</html>





<!-- Código antes de usar plantillas
<html>
    <head>
        <title>Tienda en linea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 style="text-align: center">Home</h1>
            <p>Bienvenidos a la página de la Tienda en linea...</p>
        </div>
        
        <p style="text-align: left">Lorem ipsum dolor sit amet consectetur adipiscing elit, euismod nulla sollicitudin nam dictumst varius mi blandit, nascetur vulputate porttitor facilisi sapien quisque. Condimentum etiam mauris purus nisl suspendisse pellentesque tellus et sagittis velit ridiculus, ligula gravida fusce libero class morbi penatibus dictumst bibendum. Penatibus dis nostra etiam vulputate sollicitudin torquent ornare proin magnis sed lectus, ante velit tortor blandit suscipit sodales aliquet fringilla accumsan justo.</p>
        <p style="text-align: right">Eu inceptos gravida pretium tincidunt integer nisi faucibus sapien vehicula tellus, neque vestibulum cubilia convallis per erat donec dui laoreet. Auctor sagittis inceptos convallis orci in pellentesque vel quisque montes, litora neque eleifend risus commodo nibh varius himenaeos leo, quis ad ullamcorper aenean sapien tristique dictumst etiam. Cubilia dignissim tortor purus odio, phasellus duis lacus ligula praesent, senectus posuere himenaeos. Scelerisque erat odio dignissim vitae mauris tempus platea tortor mattis ad vivamus, ullamcorper litora vestibulum egestas libero volutpat duis venenatis fames urna, mus ultricies enim nunc pellentesque aliquet proin sociosqu eu auctor.</p>
        <p style="text-align: center">Mus pharetra faucibus hendrerit convallis nostra justo placerat, sed nullam nunc nibh viverra inceptos, litora aptent iaculis fringilla parturient lacus. Et rutrum vehicula dis ad tortor netus natoque, feugiat eleifend facilisis metus consequat cum duis tellus, pellentesque pulvinar nunc dictumst vulputate cubilia. Gravida magna mus morbi ante tristique porttitor metus sociosqu quisque pretium cursus quam urna commodo interdum, donec varius aliquam orci mollis tellus in mi curabitur facilisis id cras condimentum. Egestas quis risus scelerisque nisi sociosqu pulvinar mauris inceptos purus, ante eros nostra vitae enim sollicitudin morbi blandit sodales lacinia, tristique etiam condimentum donec curabitur non phasellus varius.</p>
        
        <br>
        <br>
        
        <p>Ultima linea</p>
        
        <a href="ejemplo2.html">Next</a>
    </body>
</html>-->
